*{
    text-align: center;
    color: white;
}

footer{
    margin-top: 60px;
}

li{
    margin-top: 10px;
}

input{
    color: black;
    margin-top: 15px;
}

button{
    color: black;
}

body{
    background-image: url(/cadeado2.jpeg);
    background-size: cover;
}

.mother{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coluns{
    width: 400px;
}